@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@300&display=swap');
@import './base.scss';
@import './modules/_variables.scss';
@import './modules/_mixins.scss';

.padding-global {
    padding: 1rem 3rem 1rem 3rem !important;
}