//FUENTES
$fuente-roboto: 'Roboto';
$fuente-poppins: 'Poppins';

//COLORES
$color-morado: #5640FF;
$color-negro: #000425;
$color-plomo: #8B9099;
$color-blanco: #F8F8FA;
$color-plomo-claro: #F2F3F5;
$color-rojo:#FF1558;

//RUTAS IMAGENES
$img-banner: '@/assets/img/banner.png';
$img-banner-2: '@/assets/img/banner2.png';
$img-pachaqtec-logo: '@/assets/img/pachaqtec-logo.png';
$img-celular: '@/assets/img/celular.png';
$img-example: '@/assets/img/image-example.png';
