//FUENTES
$fuente-roboto: 'Roboto';
$fuente-poppins: 'Poppins';

//COLORES
$color-morado: #5640FF;
$color-negro: #000425;
$color-plomo: #222222;
$color-blanco: #F8F8FA;

//RUTAS IMAGENES
$img-chica-laptop: '@/assets/img/chica-laptop.png';
$img-pachaqtec-logo: '@/assets/img/pachaqtec-logo.png';
$img-celular: '@/assets/img/celular.png'
